.div1 {
  font-family: "Blinker", sans-serif;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 5%;
  margin-top: 9%;
  margin-left: 30%;
  margin-right: 30%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.h3-1 {
  text-align: center;
  font-family: "Blinker", sans-serif;
}
